#topo{
    width:100%;
    height:120px;
    border:1px solid rgb(0, 60, 128);
    background-color:#0c2847;
    color:#ffffff ;
    text-transform: uppercase;

}

#texto-rodape {
    margin-top: 10px;
    text-align: center;
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 0.8155637254901961) 81%, rgba(0, 212, 255, 1) 100%);
    color: #ffffff;
    font-size: 20px;
    height: 25px;

}